/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/*******************************************/
/*  ---  BELOW - 1344px
/*******************************************/
/* (Smaller desktops) */
@media (max-width: 84em) {

  /*  ===  GENERAL  ===
******************************* */
  /* .h1 {
    font-size: 9rem;
  } */

  /*  ===  HEADER  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */
}



/*******************************************/
/*  ---  BELOW - 1250px
/*******************************************/
/* (Landscape Tablets) */
@media (max-width: 78.125em) {

  /*  ===  GENERAL  ===
******************************* */
  .container {
    /* 1250px */
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  /*  ===  HEADER  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */
}



/*******************************************/
/*  ---  BELOW - 1200px
/*******************************************/
/* (Landscape Tablets) */
@media (max-width: 75em) {

  /*  ===  GENERAL  ===
******************************* */

  /*  ===  HEADER  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */
}


/*******************************************/
/*  ---  BELOW - 944px
/*******************************************/
/* (Tablets) */
@media (max-width: 59em) {

  /*  ===  GENERAL  ===
******************************* */
  body {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
    padding: 0;
  }

  /*  ===  HEADER  ===
******************************* */
  #headerBottom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger .closeIcon {
    display: none;
    color: #fff;
  }

  .nav {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    list-style: none;
    padding-top: 0;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(20px);
    justify-content: center;
  }

  .nav a {
    padding: 40px;
  }

  .nav a:link,
  .nav a:visited {
    border-bottom: transparent;
  }

  .nav a.after::after {
    background: transparent;
  }

  #headerBottom.sticky {
    left: 0;
    right: 0;
    height: 90px;
  }

  #headerBottom.sticky .nav a:link,
  #headerBottom.sticky .nav a:visited {
    border-bottom: none;
    color: #fff;
  }

  .showMenu {
    transform: translateY(0);
  }

  /*  ===  HERO  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}


/*******************************************/
/*  ---  BELOW - 704px
/*******************************************/
/* (Smaller tablets) */
@media (max-width: 44em) {

  /*  ===  GENERAL  ===
******************************* */
  .col-3,
  .col-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .h2:after {
    margin-top: 2.5rem;
  }

  /*  ===  HEADER  ===
******************************* */

  /*  ===  HERO  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}


/*******************************************/
/*  ---  BELOW - 544px
/*******************************************/
/* (Phones) */
@media (max-width: 34em) {

  /*  ===  GENERAL  ===
******************************* */
  .col-2,
  .col-2--40-60,
  .col-3,
  .col-4 {
    grid-template-columns: 1fr;
  }

  .col-img-2 {
    grid-row: 2 /2;
  }

  .plr-60 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-txt-right {
    padding: 0;
  }

  .section-txt-left {
    padding: 0;
  }


  /*  ===  HEADER  ===
******************************* */
  #hero {
    padding-top: 0;
  }

  #headerTop {
    display: none;
  }


  .toggle span {
    width: 20px;
  }

  .library-btt {
    display: none;
  }

  /*  ===  HERO  ===
******************************* */
  .logo-main {
    width: 80%;
  }

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}


/*******************************************/
/*  ---  BELOW - 400px
/*******************************************/
/* (Phones) */
@media (max-width: 25em) {

  /*  ===  GENERAL  ===
******************************* */

  /*  ===  HEADER  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}


/*******************************************/
/*  ---  BELOW - 920px
/*******************************************/
/* (Phones) */
@media (max-width: 920px) and (orientation: landscape) {

  /*  ===  GENERAL  ===
******************************* */
  /* .h1 {
    font-size: 7.5rem;
  } */

  /*  ===  HEADER  ===
******************************* */

  /*  ===  HERO  ===
  ******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}


/*******************************************/
/*  ---  BELOW - 300px
/*******************************************/
/* (Phones) */
@media (max-width: 300px) {

  /*  ===  GENERAL  ===
******************************* */

  /*  ===  HEADER  ===
******************************* */

  /*  ===  HERO  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}


/*******************************************/
/*  ---  BELOW - 300px
/*******************************************/
/* (Phones) */
@media (max-height: 300px) {

  /*  ===  GENERAL  ===
******************************* */

  /*  ===  HEADER  ===
******************************* */

  /*  ===  HERO  ===
******************************* */

  /*  ===  ABOUT  ===
******************************* */

  /*  ===  GALLERY  ===
******************************* */

  /*  ===  SERVICES  ===
******************************* */

  /*  ===  PRICING  ===
******************************* */

  /*  ===  CONTACT  ===
******************************* */

  /*  ===  FOOTER  ===
******************************* */

}