.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 12px;
}

#headerTop {
    background-color: #fff;
    color: #112e51;
    font-weight: 300;
    padding: 10px 20px;
    font-size: 12px;
    /* border-bottom: 4px solid #ececec; */
}

#headerBottom {
    background-color: #112e51;
    /* transition: 0.5 all ease; */
}

#headerBottom.sticky {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 12px;
    right: 12px;
    /* background-color: #fff;
    color: #112e51; 
    transition: 0.5 all ease;*/
}

.svg-top {
    transform: rotate(0deg);
    position: relative;
    top: -10px;
    z-index: -1;
    fill: #fff;
}

.headerTopLeft {
    gap: 40px;
}

.headerTopRight {
    gap: 10px;
}

.headerTopRight a {
    color: #112e51
}

.slogan-h1 {
    padding-left: 20px;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 2.2em;
    font-weight: 600;
}

.nav a {
    display: block;
    padding: 40px 20px 36px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav a:link,
.nav a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 4px solid #112e51;
    transition: 0.2s all ease;
}

.nav a:hover {
    color: #112e51;
    border-bottom: 4px solid #f58320;
    background-color: #dce4ef;
    z-index: 1;
}



/* library */
.library-btt {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    position: fixed;
    transform: translateY(100%);
    left: 0;
    bottom: calc(50vh + 50px);
    z-index: 3;
    padding: 0.6em;
    background-color: #cd2026;
    transition: all .01s ease-in;
    font-size: 1.4em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.library-btt img {
    width: 50px;
}

.library-btt svg {
    width: 50px;
    fill: #fff;
    left: 10px;
}


/* hero */
#hero {
    /* background: url(../img/hero/hero.png) center center / cover fixed;
     padding: 100px 0;
    text-align: center;*/
    height: calc(100vh - 22px);
    padding-top: 150px;
    background-color: #dce4ef;
}

#hero .svg-down {
    bottom: -10px;
    left: 50%;
    z-index: 5;
    margin-left: -96px;
    color: #fff;
}

#hero .arrow-down {
    width: 70px;
    height: 50px;
    bottom: -15px;
    left: calc(50% - 34px);
    /* transform: translate(-50%, 0); */
    z-index: 10;
    background: url(../img/hero/arrow-down.png) no-repeat center;
    animation: bounce 2s infinite running;
}

#hero .arrow-down:hover {
    animation-play-state: paused;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-3px);
    }
}

.logo-main {
    width: 32%;
    align-self: center;
    justify-self: center;
    /* background-color: rgb(61 60 60 / 40%);
    padding: 20px;
    border-radius: 20px; */
}


/* about */
.section-about,
.section-about-img {
    gap: 2em;
}

.section-about-txt {
    padding: 40px 0 0 62px;
    text-align: center;
    font-size: 20px;
}


/* services */
.services-bg {
    height: 350px;
    background: url(../img/services/1.jpg) fixed center;
    background-size: cover;
}

.service-txt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: #fff;
}


/* contact */
.section-contact-txt {
    padding: 40px 52px 0 0;
    text-align: center;
    font-size: 20px;
}


/* footer */
.footer {
    background-color: #121212;
    padding: 60px 20px;
}

.copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
    text-align: center;
}

.copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
}

.copyright .arrow-up {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 30px;
    top: -45px;
    left: 0;
    color: #fff;
    line-height: 1.9;
    font-size: 1.5em;
}

.copyright ul {
    justify-content: center;
}

.copyright li {
    color: #919191;
    font-size: 14px;
}

.copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
}

.copyright .CTA li a {
    color: #919191;
    transition: .3s;
}

.copyright .CTA li a:hover {
    color: #a96700;
}

.copyright .CTA {
    margin-top: 25px;
}