/*  ===  TEXT  ===
******************************************* */

/*  Smernice za veličinu teksta

- Desktop: h1 32–48px; h2 24–32px; h3 19–24px; p 16–21px;

- Tablet:  h1 28–42px; h2 21–28px; h3 17–21px; p 14–18px;

- Telefon: h1 26–32px; h2 19–26px; h3 16–19px; p 13–16px;

large - lg
small -sm
*/

.section-txt-right {
  padding: 0 0 0 62px;
}

.section-txt-left {
  padding: 0 62px 0 0;
}

/*  ===  heading 1  ===  */
.h1 {
  line-height: 1.05;
  font-size: calc(13px + (105 - 13) * ((100vw - 320px) / (1600 - 320)));
  word-spacing: 4px;
  letter-spacing: 1px;
  text-shadow: 2px 1px #303336;
  font-weight: 900;
}

/*  ===  heading 2, heading 3  ===  */
h2,
h3 {
  color: var(--color-heading);
  letter-spacing: -0.5px;
}

.h2 {
  font-size: 3.2rem;
  margin-bottom: 4.6rem;
  line-height: 1.2;
  position: relative;
  font-weight: 700;
}

.h2::after {
  display: block;
  background: url(../img/dots/dots.svg) repeat-x 0 0/10px 3px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  bottom: -15px;
  transform: translateX(-50%);
  width: 100%;
}

.h2::before {
  display: block;
  background: url(../img/dots/dots.svg) repeat-x 0 0/10px 3px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
  width: 100%;
}

.h3-lg {
  font-size: 3.1rem;
  line-height: normal;
  margin-bottom: 4rem;
}

.h3 {
  font-size: 2.4rem;
}

.h3-sm {
  font-size: 2rem;
  letter-spacing: 0;
}


/*  ===  subheading  ===  */
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--blue-color);
  text-transform: uppercase;
  /* margin: 1.5rem 0; */
  padding-bottom: 6rem;
  letter-spacing: 0.75px;
}

.p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

.p-sm {
  font-size: 1.1rem;
}

/*  ===  text style  ===  */
.center-text {
  text-align: center;
}

.strong {
  font-weight: bold;
}


/*  ===  text animation  ===  */
.wiggle {
  animation: wiggle 200ms 100ms 3 ease-out none;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(3deg);
  }
}