/*  ===  TEXT  ===
******************************************* */

/*  Smernice za veličinu teksta

- Desktop: h1 32–48px; h2 24–32px; h3 19–24px; p 16–21px;

- Tablet:  h1 28–42px; h2 21–28px; h3 17–21px; p 14–18px;

- Telefon: h1 26–32px; h2 19–26px; h3 16–19px; p 13–16px;

large - lg
small -sm
*/

.section-txt-right {
  padding: 0 0 0 7.2rem;
}

/* .about-descripton {
  background: url(../img/about/fggfg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.section-txt-left {
  padding: 0 7.2rem 0 0;
}

/*  ===  heading 1  ===  */
.h1 {
  line-height: 1.05;
  font-size: calc(13px + (105 - 13) * ((100vw - 320px) / (1600 - 320)));
  word-spacing: 4px;
  letter-spacing: 1px;
  text-shadow: 2px 1px #303336;
  font-weight: 900;
}

/*  ===  heading 2, heading 3  ===  */
h2,
h3 {
  color: var(--color-heading);
  letter-spacing: -0.5px;
}

.h2 {
  font-size: 3.2rem;
  margin-bottom: 4.6rem;
  line-height: 1.2;
  position: relative;
  font-weight: 700;
}

.h2-b {
  background-color: #254267;
  color: #fff;
  font-size: 2.7rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  /* font-family: 'Nunito Sans', sans-serif; */
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}

.h2::after {
  display: block;
  background: url(../img/dots/dots.svg) repeat-x 0 0/10px 3px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  bottom: -15px;
  transform: translateX(-50%);
  width: 100%;
}

.h2::before {
  display: block;
  background: url(../img/dots/dots.svg) repeat-x 0 0/10px 3px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
  width: 100%;
}


.h2-a {
  color: #FFF;
  font-size: 2.7rem;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline;
}

.h3-lg {
  font-size: 3.1rem;
  line-height: normal;
  margin-bottom: 4rem;
}

.h3 {
  font-size: 2.2rem;
  /* font-weight: 500; */
  color: #385a8a;
}

.h3-border {
  padding-bottom: 2rem;
  border-bottom: 1px solid;
  margin-bottom: 2rem;
}

.h3-sm {
  font-size: 2rem;
  letter-spacing: 0;
}

/* .heading, .article-title */
.heading {
  /* font-family: TTSupermolotNeue; */
  position: relative;
  font-size: 2.7rem;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: -0.01579em;
  margin-top: 0;
  margin-bottom: 4.6rem
}

.heading::after {
  display: block;
  background: url(../img/dots/dots.svg) repeat-x 0 0/10px 3px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  bottom: -15px;
  transform: translateX(-50%);
  width: 100%;
}

.heading::before {
  display: block;
  background: url(../img/dots/dots.svg) repeat-x 0 0/10px 3px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
  width: 100%;
}

@media screen and (min-width: 480px) {
  .heading {
    font-size: calc(0.83333vw + 26px);
    line-height: calc(0.41667vw + 36px);
  }
}

@media screen and (min-width: 1440px) {
  .heading {
    font-size: calc(0.625vw + 2.7rem);
    line-height: calc(1.45833vw + 21px);
  }
}

/*  ===  subheading  ===  */
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--blue-color);
  text-transform: uppercase;
  /* margin: 1.5rem 0; */
  padding-bottom: 6rem;
  letter-spacing: 0.75px;
}

.p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 4.5rem;
}

.p-a {
  color: #667375;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.28em;
  letter-spacing: -0.00588em;
  margin-top: 0;
  margin-bottom: 1.764em;
  font-size: 1.6rem;
  line-height: 1.48em;
}

@media (min-width: 480px) {
  .p-a {
    font-size: calc(0.3125vw + 12.5px);
    line-height: calc(0.41667vw + 16px);
  }
}


@media (min-width: 1440px) {
  .p-a {
    font-size: calc(0.83333vw + 5px);
    line-height: calc(1.66667vw - 2px);
  }
}

.p-sm {
  font-size: 1.1rem;
}

/*  ===  text style  ===  */
.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.strong {
  font-weight: bold;
}


/*  ===  text animation  ===  */
.wiggle {
  animation: wiggle 200ms 100ms 3 ease-out none;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(3deg);
  }
}